body {
  margin: 0;
}

html {
  width: 100%;
  overflow-x: hidden;
}

footer {
  background-color: hsl(168, 44%, 70%);
}

.containerhead {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(/images/photos/image-header.jpg);
  background-size: cover;
  white-space: nowrap;
  position: relative;
}
.containerhead .head {
  margin-bottom: 40%;
  margin-left: 55%;
  word-spacing: 5%;
  position: absolute;
}
.containerhead .head p1 {
  color: white;
  margin-left: 2.5%;
  margin-right: 10%;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
}
.containerhead .head button {
  text-decoration: none;
  color: hsl(212, 27%, 19%);
  border-radius: 30px;
  border-color: hsl(0, 0%, 100%);
  width: 40%;
  height: 50px;
  background-color: hsl(0, 0%, 100%);
  letter-spacing: -0.1071428582px;
  border-style: solid;
  text-transform: uppercase;
  font-family: fraunces;
  font-weight: 700;
  font-size: 15px;
}
.containerhead .title {
  width: 100%;
  margin-bottom: 15%;
  margin-left: 40%;
  position: absolute;
}
.containerhead .title h {
  color: hsl(0, 0%, 100%);
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: fraunces;
  font-size: 60px;
  font-weight: 900;
}
.containerhead .logo {
  margin-bottom: 40%;
  margin-right: 80%;
  position: absolute;
}
.containerhead .arrow {
  margin-top: 5%;
}

.firstgrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 540px);
}
.firstgrid .item1 .text1 {
  margin-top: 25%;
  margin-bottom: 10%;
  margin-left: 25%;
  margin-right: 25%;
  color: hsl(212, 27%, 19%);
}
.firstgrid .item1 .text1 h1 {
  font-family: fraunces;
  font-weight: 900;
}
.firstgrid .item1 .text1 p2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 18px;
}
.firstgrid .item1 .text1 button {
  margin-top: 5%;
  background: none;
  border: none;
  cursor: pointer;
  color: hsl(212, 27%, 19%);
  text-decoration-line: underline;
  text-decoration-thickness: 0.4rem;
  text-decoration-color: rgba(250, 212, 0, 0.6);
  text-underline-offset: -5px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-family: fraunces;
  font-weight: 600;
  font-size: 22px;
}
.firstgrid .item2 {
  background-image: url(/images/photos/image-transform.jpg);
  background-size: cover;
}
.firstgrid .item3 {
  background-image: url(/images/photos/image-stand-out.jpg);
  background-size: cover;
}
.firstgrid .item4 .text1 {
  margin-top: 25%;
  margin-bottom: 10%;
  margin-left: 25%;
  margin-right: 25%;
  color: hsl(212, 27%, 19%);
}
.firstgrid .item4 .text1 h1 {
  font-family: fraunces;
  font-weight: 900;
}
.firstgrid .item4 .text1 p2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 18px;
}
.firstgrid .item4 .text1 button {
  margin-top: 5%;
  background: none;
  border: none;
  cursor: pointer;
  color: hsl(212, 27%, 19%);
  text-decoration-line: underline;
  text-decoration-thickness: 0.4rem;
  text-decoration-color: rgba(254, 121, 103, 0.6);
  text-underline-offset: -5px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-family: fraunces;
  font-weight: 600;
  font-size: 22px;
}
.firstgrid .item5 {
  background-image: url(/images/photos/image-graphic-design.jpg);
  background-size: cover;
}
.firstgrid .item5 .text2 {
  margin-top: 50%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  color: hsl(167, 40%, 24%);
}
.firstgrid .item5 .text2 h2 {
  font-family: fraunces;
  font-weight: 900;
}
.firstgrid .item5 .text2 p2 {
  word-spacing: 2px;
  line-height: 1.5;
  font-family: Barlow;
  font-weight: 600;
}
.firstgrid .item6 {
  background-image: url(/images/photos/image-photography.jpg);
  background-size: cover;
}
.firstgrid .item6 .text2 {
  margin-top: 50%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  color: hsl(198, 62%, 26%);
}
.firstgrid .item6 .text2 h2 {
  font-family: fraunces;
  font-weight: 900;
}
.firstgrid .item6 .text2 p2 {
  word-spacing: 2px;
  line-height: 1.5;
  font-family: Barlow;
  font-weight: 600;
}

.lastbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15%;
  padding-bottom: 15%;
  gap: 2.5%;
}
.lastbox h3 {
  position: absolute;
  align-self: self-start;
  margin-top: -5%;
  color: hsl(210, 4%, 67%);
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 24.66px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 20px;
}
.lastbox a {
  min-width: 30%;
  color: hsl(213, 9%, 39%);
  line-height: 32px;
  font-family: Barlow;
  letter-spacing: -0.1285714358px;
  font-family: Barlow;
  font-weight: 600;
  font-size: 18px;
}
.lastbox p3 {
  color: hsl(212, 27%, 19%);
  line-height: 22.19px;
  letter-spacing: -0.1285714358px;
  font-family: fraunces;
  font-weight: 900;
  font-size: 18px;
}
.lastbox p4 {
  color: hsl(210, 4%, 67%);
  line-height: 25px;
  letter-spacing: -0.1000000015px;
  font-family: Barlow;
  font-weight: 600;
  font-size: 14px;
}
.lastbox .first {
  margin-top: 5%;
}
.lastbox .first img {
  margin-bottom: 15%;
  border-radius: 50%;
  width: 20%;
}
.lastbox .first .name {
  line-height: 35px;
  margin-top: 20%;
}
.lastbox .second {
  margin-top: 5%;
}
.lastbox .second img {
  margin-bottom: 15%;
  border-radius: 50%;
  width: 20%;
}
.lastbox .second .name {
  line-height: 35px;
  margin-top: 20%;
}
.lastbox .third {
  margin-top: 5%;
}
.lastbox .third img {
  margin-bottom: 15%;
  border-radius: 50%;
  width: 20%;
}
.lastbox .third .name {
  line-height: 35px;
  margin-top: 20%;
}

.lastgrid {
  display: grid;
  width: 100%;
  grid-auto-flow: column;
}
.lastgrid .img1 {
  padding-top: 125%;
  width: 100%;
  background-image: url(images/photos/image-gallery-milkbottles.jpg);
  background-size: cover;
}
.lastgrid .img2 {
  background-image: url(images/photos/image-gallery-orange.jpg);
  background-size: cover;
}
.lastgrid .img3 {
  background-image: url(images/photos/image-gallery-cone.jpg);
  background-size: cover;
}
.lastgrid .img4 {
  background-image: url(images/photos/image-gallery-sugarcubes.jpg);
  background-size: cover;
}

.footerflex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 12%;
  padding-bottom: 12%;
}
.footerflex .lastlogo {
  position: absolute;
  width: 13%;
  filter: invert(36%) sepia(60%) saturate(393%) hue-rotate(118deg) brightness(50%) contrast(89%);
  margin-top: -15%;
}
.footerflex nav {
  line-height: 25px;
  letter-spacing: -0.1285714358px;
  color: hsl(168, 34%, 41%);
  white-space: nowrap;
  margin-right: 10%;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
}
.footerflex nav ul li {
  display: inline;
  padding-right: 30%;
}
.footerflex nav ul li:hover {
  filter: brightness(0) invert(1);
}
.footerflex .socials {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin-top: 15%;
}
.footerflex .socials img {
  margin-left: 2.5%;
}
.footerflex .socials .a:hover {
  filter: brightness(0) invert(1);
}
.footerflex .socials .b:hover {
  filter: brightness(0) invert(1);
}
.footerflex .socials .c:hover {
  filter: brightness(0) invert(1);
}
.footerflex .socials .d:hover {
  filter: brightness(0) invert(1);
}/*# sourceMappingURL=style.css.map */