body {
  margin: 0;
}

html {
  background-color: #3ebfff;
  width: 100%;
  overflow-x: hidden;
}

.containerhead {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.containerhead p1 {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 3%;
  color: white;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
}
.title h {
  position: absolute;
  margin-top: 200Px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: fraunces;
  font-size: 60px;
  font-weight: 900;
}
.title img {
  width: 100%;
  height: 100%;
}

.firstgrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 540px);
}
.firstgrid .item1 {
  background-color: hsl(0, 0%, 100%);
}
.firstgrid .item1 .text1 {
  margin-top: 25%;
  margin-bottom: 10%;
  margin-left: 25%;
  margin-right: 25%;
  color: hsl(212, 27%, 19%);
}
.firstgrid .item1 .text1 h1 {
  font-family: fraunces;
  font-weight: 900;
}
.firstgrid .item1 .text1 p2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 18px;
}
.firstgrid .item1 .text1 button {
  margin-top: 5%;
  background: none;
  border: none;
  cursor: pointer;
  color: hsl(212, 27%, 19%);
  text-decoration-line: underline;
  text-decoration-thickness: 0.4rem;
  text-decoration-color: rgba(250, 212, 0, 0.6);
  text-underline-offset: -5px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-family: fraunces;
  font-weight: 600;
  font-size: 22px;
}
.firstgrid .item4 {
  background-color: hsl(0, 0%, 100%);
}
.firstgrid .item4 .text1 {
  margin-top: 25%;
  margin-bottom: 10%;
  margin-left: 25%;
  margin-right: 25%;
  color: hsl(212, 27%, 19%);
}
.firstgrid .item4 .text1 h1 {
  font-family: fraunces;
  font-weight: 900;
}
.firstgrid .item4 .text1 p2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 18px;
}
.firstgrid .item4 .text1 button {
  margin-top: 5%;
  background: none;
  border: none;
  cursor: pointer;
  color: hsl(212, 27%, 19%);
  text-decoration-line: underline;
  text-decoration-thickness: 0.4rem;
  text-decoration-color: rgba(254, 121, 103, 0.6);
  text-underline-offset: -5px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-family: fraunces;
  font-weight: 600;
  font-size: 22px;
}
.firstgrid .item5 {
  background-image: url(/images/photos/image-graphic-design.jpg);
}
.firstgrid .item5 .text2 {
  margin-top: 50%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  color: hsl(167, 40%, 24%);
}
.firstgrid .item5 .text2 h2 {
  font-family: fraunces;
  font-weight: 900;
}
.firstgrid .item5 .text2 p2 {
  word-spacing: 2px;
  line-height: 1.5;
  font-family: Barlow;
  font-weight: 600;
}
.firstgrid .item6 {
  background-image: url(/images/photos/image-photography.jpg);
}
.firstgrid .item6 .text2 {
  margin-top: 50%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  color: hsl(198, 62%, 26%);
}
.firstgrid .item6 .text2 h2 {
  font-family: fraunces;
  font-weight: 900;
}
.firstgrid .item6 .text2 p2 {
  word-spacing: 2px;
  line-height: 1.5;
  font-family: Barlow;
  font-weight: 600;
}

.lastbox {
  display: flex;
  justify-content: space-between;
  padding: 20%;
  background-color: hsl(0, 0%, 100%);
}
.lastbox h3 {
  justify-items: center;
  align-items: flex-start;
  position: absolute;
}/*# sourceMappingURL=style.css.map */