$red : hsl(7, 99%, 70%);
$yellow : hsl(51, 100%, 49%);
$darkcyan : hsl(167, 40%, 24%); //for design text
$darkblue : hsl(198, 62%, 26%); //photography text;
$darkmodcyan : hsl(168, 34%, 41%); //footer
$lightmodcyan : hsla(168, 44%, 70%, 1);
$darkdesblue : hsl(212, 27%, 19%);
$verydarkblue : hsl(213, 9%, 39%);
$darkgrayblue : hsl(232, 10%, 55%);
$grayblue : hsl(210, 4%, 67%);
$white : hsl(0, 0%, 100%);
$backcolor : #3ebfff;

//Barlow weight : 600;
//Fraunces : 700 / 900;
//size : 18px;

body {
    margin : 0;
}


html {
    width: 100%;
    overflow-x: hidden;
}

footer {
    background-color: $lightmodcyan;
}
.containerhead {
    width : 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/images/photos/image-header.jpg);
    background-size: cover;
    white-space: nowrap;
    position: relative;
    overflow-x: hidden;

    .head {
        margin-bottom: 40%;
        margin-left: 55%;
        word-spacing: 5%;
        position: absolute;

        p1 {
            color: white;
            margin-left: 2.5%;
            margin-right: 10%;

            font: {
                family: Barlow;
                size: 18px;
                weight: 600;
            }
        }

        button {
            text-decoration: none;
            color: $darkdesblue;
            border-radius: 30px;
            border-color: $white;
            width: 40%;
            height: 50px;
            background-color: $white;
            letter-spacing: -0.1071428582072258px;
            border-style: solid;
            text-transform: uppercase;

            font: {
                family: fraunces;
                weight: 700;
                size: 15px;
            }
        }
    }

    .title {
        width : 100%;
        margin-bottom: 15%;
        margin-left: 40%;
        position: absolute;

        h {
            color: $white;
            letter-spacing: 10px;
            text-transform: uppercase;

            font: {
                family: fraunces;
                size : 60px;
                weight : 900;
            }
            
        }

    }

    .logo {
        margin-bottom: 40%;
        margin-right: 80%;
        position: absolute;
    }

    .arrow {
        margin-top: 5%;
    }

    .burger {
        visibility: hidden;
    }
}

.firstgrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3,540px);
    overflow-x: hidden;

    .item1 {

        .text1 {
            margin-top: 25%;
            margin-bottom: 10%;
            margin-left: 25%;
            margin-right:25%;
            color : $darkdesblue;

            h1 {

                font: {
                    family: fraunces;
                    weight: 900;
                }
            }

            p2 {
                font : {
                    family: Barlow;
                    weight: 600;
                    size: 18px;
                }
            }

            button {
                margin-top : 5%;
                background:none;
                border:none;
                cursor: pointer;
                color: $darkdesblue;
                text-decoration-line: underline;
                text-decoration-thickness: 0.4rem;
                text-decoration-color: rgba(250, 212, 0, 0.6);
                text-underline-offset: -5px;
                text-decoration-skip-ink: none;

                font: {
                    family: fraunces;
                    weight: 600;
                    size: 22px;
                }
            }

        

        }
    }

    .item2 {
        background-image: url(/images/photos/image-transform.jpg);
        background-size: cover;
    }

    .item3 {
        background-image: url(/images/photos/image-stand-out.jpg);
        background-size: cover;
    }
    

    .item4 {

        .text1 {
            margin-top: 25%;
            margin-bottom: 10%;
            margin-left: 25%;
            margin-right:25%;
            color : $darkdesblue;

            h1 {

                font: {
                    family: fraunces;
                    weight: 900;
                }
            }

            p2 {
                font : {
                    family: Barlow;
                    weight: 600;
                    size: 18px;
                }
            }

            button {
                margin-top : 5%;
                background:none;
                border:none;
                cursor: pointer;
                color: $darkdesblue;
                text-decoration-line: underline;
                text-decoration-thickness: 0.4rem;
                text-decoration-color: rgba(254, 121, 103, 0.6);
                text-underline-offset: -5px;
                text-decoration-skip-ink: none;

                font: {
                    family: fraunces;
                    weight: 600;
                    size: 22px;
                }
            }
        }
    }

    .item5 {

    background-image: url(/images/photos/image-graphic-design.jpg);
    background-size: cover;

    .text2 {
        margin-top: 50%;
        margin-bottom: 5%;
        margin-left: 25%;
        margin-right:25%;
        color: $darkcyan;

        h2 {
            font: {
                family: fraunces;
                weight: 900;
            }
        }

        p2 {

            word-spacing: 2px;
            line-height: 1.5;

            font: {
                family: Barlow;
                weight: 600;
            }
        }
    }

        
    }

    .item6 {
        
    background-image: url(/images/photos/image-photography.jpg);
    background-size: cover;

        .text2 {
            margin-top: 50%;
            margin-bottom: 5%;
            margin-left: 25%;
            margin-right:25%;
            color: $darkblue;

            h2 {
                font: {
                    family: fraunces;
                    weight: 900;
                }
            }

            p2 {

                word-spacing: 2px;
                line-height: 1.5;

                font: {
                    family: Barlow;
                    weight: 600;
                }
            }
        }
        
    }
    

}

.lastbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    gap: 2.5%;
    overflow-x: hidden;

    h3 {
        position: absolute;
        align-self: self-start;
        margin-top: -5%;
        color:$grayblue;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 24.66px;


        font: {
            family: Fraunces;
            weight: 900;
            size: 20px;
        }
    }

    a {
        min-width: 30%;
        color:$verydarkblue;
        line-height: 32px;
        font-family: Barlow;
        letter-spacing: -0.12857143580913544px;


        font: {
            family: Barlow;
            weight: 600;
            size: 18px;
        }
    }

    p3 {

        color : $darkdesblue;
        line-height: 22.19px;
        letter-spacing: -0.12857143580913544px;
        

        font: {
            family:fraunces;
            weight: 900;
            size: 18px;
        }
    }

    p4 {

        color:$grayblue;
        line-height: 25px;
        letter-spacing: -0.10000000149011612px;



        font: {
            family:Barlow;
            weight: 600;
            size: 14px;
            }

    }


    .first {
        margin-top: 5%;
        img {
            margin-bottom: 15%;
            border-radius: 50%;
            width: 20%;
        }

        .name {
            line-height: 35px;
            margin-top: 20%;
        }
    }

    .second {
        margin-top: 5%;
        img {
            margin-bottom: 15%;
            border-radius: 50%;
            width: 20%;
        }

        .name {
            line-height: 35px;
            margin-top: 20%;
        }
    }

    .third {
        margin-top: 5%;
        img {
            margin-bottom: 15%;
            border-radius: 50%;
            width: 20%;
        }

        .name {
            line-height: 35px;
            margin-top: 20%;
        }
    }
}

.lastgrid {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    overflow-x: hidden;

    .img1 {
        padding-top: 125%;
        width: 100%;
        background-image: url(images/photos/image-gallery-milkbottles.jpg);
        background-size: cover;
    }

    .img2 {
        background-image: url(images/photos/image-gallery-orange.jpg);
        background-size: cover;
    }

    .img3 {
        background-image: url(images/photos/image-gallery-cone.jpg);
        background-size: cover;
    }

    .img4 {
        background-image: url(images/photos/image-gallery-sugarcubes.jpg);
        background-size: cover;
    }
}

.footerflex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 12%;
    padding-bottom: 12%;
    overflow-x: hidden;

    .lastlogo {
        position: absolute;
        width: 13%;
        filter: invert(36%) sepia(60%) saturate(393%) hue-rotate(118deg) brightness(50%) contrast(89%);
        margin-top : -15%;
    }

    nav {
        line-height: 25px;
        letter-spacing: -0.12857143580913544px;
        color: $darkmodcyan;
        white-space: nowrap;
        margin-right: 10%;

        ul li{
            display: inline;
            padding-right: 30%;

            &:hover {
                filter: brightness(0) invert(1);
            }
          }

        font: {
            family: Barlow;
            size: 18px;
            weight: 600;
        }

    }

    .socials {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 15%;
        margin-top: 15%;

        img {
            margin-left : 2.5%;
        }

        .a {
            &:hover {
                filter: brightness(0) invert(1);
            }
        }

        .b {
            &:hover {
                filter: brightness(0) invert(1);
            }
        }

        .c {
            &:hover {
                filter: brightness(0) invert(1);
            }
        }

        .d {
            &:hover {
                filter: brightness(0) invert(1);
            }
        }
    }
}

@media all and (max-width: 480px) {

    .containerhead {
        max-width: 100%;
        max-height: 650px;

        .head {
            visibility: hidden;
        }

        .burger {
            visibility: visible;
        }

        .title {
            h {
                font: {
                    size: 20px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .containerhead{
        background-repeat: no-repeat;
        background-position-x: center;
        .head {
            margin-bottom: 20%;
            margin-left: 30%;
        }

        .title {
            margin-bottom: 35%;
            margin-left: 12%;
        }

        .logo {
            margin-bottom: 120%;
            margin-right: 60%;
        }

        .burger {
            position: absolute;
            margin-left: 75%;
            margin-bottom: 120%;
        }
    }

    .firstgrid {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6,540px);

        .item2 {
            background-image: url(/images/photos/image-transform.jpg);
            background-size: cover;
            background-position-x: center;
        }
    
        .item3 {
            background-image: url(/images/photos/image-stand-out.jpg);
            background-size: cover;
            background-position-x: center;
        }

        .item5 {

            background-image: url(/images/photos/image-graphic-design.jpg);
            background-size: cover;
            background-position-x: center;

            .text2 {
                margin-bottom: -5%;
            }
        }

        .item6 {
        
            background-image: url(/images/photos/image-photography.jpg);
            background-size: cover;
            background-position-x: center;
        }
    }   
}